* {
  margin: 0;
  padding: 0;
}

:root {
  --black: #141414;
  --dark-black: #070708;
  --gray: #19191a;
  --green-principal: #08d10f;
  --ligth-green: #14fc1c;
}

body {
  background-color: var(--dark-black);
}
